{% include 'uhead.html'%}
	<center><h1>  File Details</h1></center>
<body>


<div class="container text-dark">
 <table class="table" border="1" style="margin-left:100px;">
    <thead class="thead-dark">
      <tr>
        <th>File Id</th>
              <th>File Name</th>
            <th>Descrption</th>
			<th>Datee </th>
    <th>Owner Name </th>
      <th>Request</th>

        </thead>
</div>
{% for user in userDetails %}

	<tbody>
		<tr>
		   <td>{{user[0]}}</td>
		   <td>{{user[1]}}</td>
			<td>{{user[4]}}</td>
			<td>{{user[22]}}</td>
            	<td>{{user[2]}}</td>
            <td><a href="/request?id={{user[0]}}&filename={{user[1]}}&ownername={{user[2]}}"><button class="btn btn-primary">Request</button></a> </td>
		</tr>
	</tbody>

  {% endfor %}


</table>
</center>